@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient( to right, #0015F5, #0062F5, #00AFF5);
}
main{
    background-color: white;
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0014f562;
    padding: 10%;
    margin: auto;
}
h1{
    color: #0015F5;
    text-align: center;
    text-shadow: 1px 1px 2px #38b9ec8c;
}
h2{
    color: #0062F5;
}

p{
    text-align: justify;
}